 /* Estilos de la página de registro */
 body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #f0e5f7, #d7c4f7);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.register-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 450px;
    text-align: center;
    margin-top: 80px; /* Ajuste para evitar que el menú cubra el título */
}

.register-container h2 {
    margin-bottom: 20px;
    color: #333;
}

.form-control, .form-select {
    margin-bottom: 20px;
    padding: 15px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.register-button {
    background: linear-gradient(135deg, #8367f7, #6545b0);
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: none;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s ease;
    width: 100%;
}

.register-button:hover {
    background: linear-gradient(135deg, #6545b0, #8367f7);
}

.register-container .footer-link {
    color: #8367f7;
    text-decoration: none;
    font-size: 14px;
}

.register-container .footer-link:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    width: 100%;
    background-color: #8367f7;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}